.DS_Store
.obsidian/workspace.json
latex/source/*.synctex.gz
latex/source/*.fdb_latexmk
latex/source/*.aux
latex/source/*.fls
latex/source/*.log
latex/source/*.lot
latex/source/*.out
latex/source/*.pdf
latex/source/*.toc
